@import "./variables";

.playAgain {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 20%;

  &__text {
    font-size: 42px;
    text-transform: uppercase;
    color: white;
    font-family: $font;
  }

  &__btn {
    background: white;
    color: red;
    font-family: $font;
  }
}
