@import "variables";

.start {
  width: 600px;
  height: 100%;
  margin: 100px auto;

  &__container {
    background-image: url("../images/bg-triangle.svg");
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__col {
    @include flex;
    width: 80%;
    margin: 0 auto;
  }

  &__colCenter {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .start {
    width: 100%;
    margin: 80px auto;

    &__container {
      background-size: 150px 150px;
    }
  }
}
